/* SELECTOR */
/* class */
body {background-color: #f4fce3;
   
    }

    /* navbar*/
    nav{
               display: inline;  
               text-decoration-color: #bbc70e;
    }
    
.box{
width: 50vw;
height: 400px;
background-color: #eec0c6;

}
/* id */
#box1{
    font-size: 12px;
    }
#box2{
font-size: larger;
}

a:hover{
    background-color: #da8818;
   color: black;
}
a{color: #da8818;}
.child{
width: 50%;
height: 50%;

background-color: darkkhaki;

}
button:hover{ color: #da8818;}
u{color: #da8818; }

element.style {
    color: #000000;
    font-family: 'Alegreya Sans SC';
    font-size: 29px;
}
#Line1 {
    border-color: #FFD700;
    border-style: solid;
    border-bottom-width: 2px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    height: 0 !important;
    line-height: 0px !important;
    margin: 0;
    padding: 0;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-align-self: auto;
    align-self: auto;
}
.polstyle {
    color:#000000;
    font-family:'Alegreya Sans SC';
    font-size:29px;


}